.full-blog-post__article {
  margin: 0 auto;
  margin-top: 7rem;
  margin-bottom: 5rem;
  width: 85rem;
  background-color: var(--clr-primary-bg);
  padding: 3rem;
  border: 1px gray solid;
  display: flex;
  flex-direction: column;
  padding: 6rem 2rem 4rem 14rem;
  border-radius: 5px;

  &__title {
    margin-bottom: 0.5rem;
  }

  &__date {
    margin-bottom: 2rem;
    font-weight: 400;
  }

  &__category {
    margin-bottom: 4rem;
  }

  &__image {
    margin-bottom: 2rem;
    width: 85%;
    height: 45rem;
  }

  &__details {
    margin-bottom: 4rem;
    margin-right: 13rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid grey;
  }

  &__reply {
    margin-right: 13rem;
    padding-bottom: 3rem;
    font-weight: 400;
    font-size: 1.8rem;
    padding-bottom: 3rem;
  }
}

// .full-blog-post__subscribe {
//
// }
