// @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Mono:wght@100;200;300;400&display=swap");

:root {
  // primary background
  --clr-primary-bg: rgb(255, 251, 251);
  // secondary background
  --clr-secondary-bg: rgb(230, 230, 230);
  // border color
  --clr-border-color: rgb(204, 203, 203);
  // active border color
  --clr-active-border-color: rgb(248, 4, 4);
  // main body bg color
  --clr-main-body: rgb(49, 48, 48);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // set font-size to 10px vs 16px
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 40.25em) {
  html {
    font-size: 40%;
  }
}
@media (max-width: 30.25em) {
  html {
    font-size: 41%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 70%;
  }
}

body {
  font-family: "Roboto Mono";
  font-weight: 300;
  font-size: 1.6rem;
  background-color: var(--clr-main-body);
}
