// Navbar
.nav {
  display: flex;
  flex-direction: column;
  font-weight: 200;

  &__top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    background-color: var(--clr-primary-bg);
    border-bottom: 1px var(--clr-border-color) solid;

    &__logo {
      font-family: "Dancing Script";
      font-size: 3rem;
      cursor: pointer;
    }

    &__search-login {
      display: flex;
      align-items: center;
    }

    &-login {
      margin-left: 2rem;
      font-size: 2.5rem;
      cursor: pointer;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3.5rem;
    background-color: var(--clr-primary-bg);
    border-bottom: 1px var(--clr-border-color) solid;

    &__list {
      display: flex;
      align-items: center;
      list-style: none;
      cursor: pointer;
      // height: 100%;

      &-link {
        padding: 0.4rem 6rem;
        height: 100%;
        border-right: 1px solid var(--clr-border-color);

        &:last-child {
          border-right: none;
        }

        &:hover {
          border-bottom: 3px solid var(--clr-active-border-color);
        }
      }
    }
  }
}
