// Navbar
.nav {
  display: flex;
  flex-direction: column;
  font-weight: 200;

  &__top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    background-color: var(--clr-primary-bg);
    border-bottom: 1px lightgray solid;

    &__logo {
      font-family: "Dancing Script";
      font-size: 3rem;
      cursor: pointer;
    }

    &__search-login {
      display: flex;
      align-items: center;
    }

    &-login {
      margin-left: 2rem;
      font-size: 2.5rem;
      cursor: pointer;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3.5rem;
    background-color: var(--clr-primary-bg);
    border-bottom: 1px lightgray solid;

    &__list {
      display: flex;
      align-items: center;
      list-style: none;
      cursor: pointer;
      // height: 100%;

      &-link {
        padding: 0.4rem 6rem;
        height: 100%;
        border-right: 1px solid lightgray;

        &:last-child {
          border-right: none;
        }

        &:hover {
          border-bottom: 3px solid red;
        }
      }
    }
  }
}

// .nav {
//   font-size: 2rem;
//   background-color: var(--clr-primary-bg);
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   height: 7rem;

//   &__list {
//     display: flex;
//     list-style: none;
//     cursor: pointer;

//     &-link {
//       margin-right: 1rem;
//     }
//   }

//   &__logo {
//     margin-left: 3rem;
//   }

//   &__search-login {
//     display: flex;
//     margin-right: 2rem;

//     p {
//       margin-right: 1rem;
//     }
//   }
// }
