.subscribe {
  margin-top: 1rem;

  &__headline {
    font-weight: 400;
    margin-bottom: 1.5rem;
  }

  &__details {
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }

  &__form {
    margin-bottom: 3rem;

    &__name {
      border: 1px solid grey;
      padding: 1rem;
      width: 15rem;
      margin-right: 1rem;
      border-radius: 3px;
    }

    &__email {
      border: 1px solid grey;
      padding: 1rem;
      width: 30rem;
      margin-right: 1rem;
      border-radius: 3px;
    }

    &__btn {
      padding: 1rem;
      width: 16rem;
      color: var(--clr-primary-bg);
      background-color: var(--clr-main-body);
      border: none;
      border-radius: 3px;
      cursor: pointer;

      &:hover {
        background-color: var(--clr-main-body-light);
        // color: var(--clr-main-body);
        transition: all 0.5s ease;
        -webkit-transition: all 0.5s ease;
      }
    }
  }
}
